
<h1>To Do List</h1>

<mat-card>
  <mat-card-content>
    <div class="button-container">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    Chore:
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="chore.title"
      required
      #chores="ngModel"
    />
    <p [hidden]="!chores.errors?.['required'] || chores.pristine">
      This is a required field. Please enter information.
    </p>
  </mat-card-content>
  <mat-card-content
    >Person:
    <input
      type="text"
      id="assignedPerson"
      name="assignedPerson"
      [(ngModel)]="chore.assignedPerson"
    />
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox id="done" name="done" [(ngModel)]="chore.done" color="primary">
    </mat-checkbox>
  </mat-card-actions>
  <div class="button-container">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>
<br/>

<!-- <button mat-button color="primary">Add Chore</button> -->

<router-outlet></router-outlet>

<p>{{ chore | json }}</p>
