<h1>To Do List</h1>

<mat-label>Only show unfinished tasks:</mat-label>
<mat-checkbox
  color="primary"
  id="filterUnfinishedTasks"
  name="filterUnfinishedTasks"
  [(ngModel)]="this.filterUnfinishedTasks"
></mat-checkbox>

<label>Filter for Person: </label>
<input
  type="text"
  id="filterAssignedPerson"
  name="filterAssignedPerson"
  [(ngModel)]="this.filterAssignedPerson"
/>

<button mat-raised-button color="primary" (click)="this.resetFilter()">
  Reset Filter
</button>

<table>
  <tbody>
    <tr *ngFor="let chore of this.getChores(); let ix = index">
      <mat-card>
        <mat-card-content>
          <div class="button-container">
            <button
              type="button"
              id="isInEditMode"
              name="isInEditMode"
              (click)="this.editMode()"
              mat-mini-fab
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          Chore:
          <input
            type="text"
            [id]="'title' + ix"
            [name]="'title' + ix"
            [(ngModel)]="this.chore.title"
            required
            #myChores="ngModel"
          />
          <p [hidden]="!myChores.errors?.['required']">
            This is a required field. Please enter information.
          </p>
        </mat-card-content>

        <mat-card-content
          >Person:
          <input
            type="text"
            [id]="'assignedPerson' + ix"
            [name]="'assignedPerson' + ix"
            [(ngModel)]="this.chore.assignedPerson"
          />
        </mat-card-content>

        <mat-checkbox
          color="primary"
          id="done"
          name="done"
          [(ngModel)]="this.chore.done"
          (click)="this.finishedChore(this.chore)"
        >
        </mat-checkbox>

        <div class="button-container">
          <button
            type="button"
            [id]="'delete' + ix"
            [name]="'delete' + ix"
            [disabled]="!this.isInEditMode"
            (click)="this.chores.splice(ix, 1)"
            mat-mini-fab
            color="primary"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
      <br />
    </tr>
  </tbody>
</table>

<button mat-raised-button color="primary" (click)="this.createNewChore()">
  Add
</button>

<router-outlet></router-outlet>
